#skip a {
  position: absolute;
  width: 100%;
  top: -30px;
  left: 0;
  background: #000;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  padding: 0 6px;
  text-align: center;
}
#skip a:focus,
#skip a:active {
  top: 0;
}
